:root {
    --main-bg-color: #381460;
    --main-txt-color: #0f4c81;
    --menu-txt-color: #f4eeff;
  }

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    padding-top: 0px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.clip-svg {
    padding: 0%;
    margin: 0%;
    /* position: relative; */
    /* top: -20px; */
    /* clip-path: polygon(10% 0%, 90% 0%, 95% 50%, 90% 100%, 10% 100%, 5% 50%); */
    /* clip-path: polygon(10% 0%, 90% 0%, 95% 50%, 90% 100%, 10% 100%, 5% 50%); */
    /* clip-path: ellipse(); */
}

.bottom-logos {
    width: 100%;
    position: absolute;
    bottom: 5px; 
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}


.pub-figure {
    display: inline-block;
    width: 300px;
}

.pub-text{
    padding: 10px;
    width: 55%;
    display: inline-block;
    /* background-color: greenyellow; */
}

.pub-img {
    width: 100%;
    alt: "";
}

h1 {
    color: var(--main-txt-color);
    font-size: 100%;
    font-family: "BiauKai";
    border-bottom: 2px solid #c0c0c0;
}

h2{
    font-size: 90%;
    border-bottom: 1px solid #c0c0c0;
}

h3{
    font-size: 70%;
    /* border-bottom: 1px solid #c0c0c0; */
}

p {
    font-size: 60%;
}

ul {
	list-style-position: outside;
    list-style-type: square;
}

li {
    margin-top: -0.3em;
}

a{
    color: var(--main-txt-color);
	text-decoration: none;
}

.audio-text {
    font-size: 60%;
}

footer {
    border-top: 1px solid #c0c0c0;
    font-size: 50%;
    text-align: right;
}

a:hover {
    color: #ed6663;
	/* border-bottom: 1px gray dotted; */
}

.menu-title {
    font-size: 120%;
    border-bottom: 1px solid var(--menu-txt-color);
    margin-top: 0.8em;
	padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 4px;/*8px;*/
	padding-right: 4px;/*8px;*/
    font-weight: bold;
    color: var(--menu-txt-color);
}

.menu-item {
    padding-left: 4px;/*8px;*/
    padding-right: 4px;/*8px;*/
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu-item a {
	color: var(--menu-txt-color);
	text-decoration: none;
}

.menu-item a:hover {
	color: #FFCD00; /*#527bbd;*/
    border-bottom: 1px #FFCD00 solid;
	text-decoration: none;
}

.fa-a {
    color: var(--menu-txt-color);
}
.fa-a :hover {
    color: #FFCD00; /*#527bbd;*/
    border-bottom: 1px #FFCD00 solid;
	text-decoration: none;
}

.misc-img {
    width: 550px;
}

