{% extends "base.html" %}

{% block content %}
<div class="row h-100">
  <div class="col-3 h-100">
    <nav class="navbar-fixed-left bg-light h-100">
      <img src="{{ url_for('static', filename = 'images/hit.jpg') }}" class="img-fluid" alt="Responsive image">
        <!-- navbar-default navbar-light bg-dark navbar-fixed-left ml-0 -->
        <!--  mr-auto nav-pills nav-fill flex-column bg-light -->
      <ul class="navbar-nav nav-fill flex-column ucsd-blue">
        <li class="nav-item border-bottom"  {% if url_for(request.endpoint) in ["/","/home"]%} class="active"{%endif%} ><a class="nav-link ucsd-white" href="/home"><h3>Home</h3></a></li>
        <li class="nav-item border-bottom"  {% if url_for(request.endpoint) == "/resume" %} class="active"{%endif%} ><a class="nav-link ucsd-white" href="/resume"><h3>Resume</h3></a></li>
        <li class="nav-item border-bottom"  {% if url_for(request.endpoint) == "/projects" %} class="active"{%endif%} ><a class="nav-link ucsd-white" href="/projects"><h3>Projects</h3></a></li>
        <li class="nav-item border-bottom"  {% if url_for(request.endpoint) == "/misc" %} class="active"{%endif%} ><a class="nav-link ucsd-white" href="/misc"><h3>Misc</h3></a></li>
        <!--li class="nav-item border-bottom" {% if url_for(request.endpoint) == "/s_misc" %} class="active"{%endif%} ><a class="nav-link ucsd-white" href="/s_misc"><h3>s_Misc</h3></a></li-->
         
          <ul class="nav">
            <li class="nav-item border-right">
              <a class="nav-link ucsd-white" href="https://www.facebook.com/yue.meng.75" target="_blank">
                <span class="fa fa-facebook fa-2x"></span>
              </a>
            </li>
            <li class="nav-item border-right">
              <a class="nav-link ucsd-white" href="https://github.com/mengyuest" target="_blank">
                <span class="fa fa-github fa-2x"></span>
              </a>
            </li>
            <li class="nav-item border-right">
              <a class="nav-link ucsd-white" href="https://www.linkedin.com/in/yuemeng95" target="_blank">
                <span class="fa fa-linkedin fa-2x"></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link ucsd-white" href="https://www.instagram.com/misha_ucsd" target="_blank">
                <span class="fa fa-instagram fa-2x"></span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>

  <div class="col-9">{{ post.html|safe }}</div>

</div>
{% endblock %}


