{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

<div class="row">
<div class="col-md-2 ">
<nav class="navbar navbar-default navbar-fixed-left ml-0 ">
<img src="{{ url_for('static', filename = 'images/hit.jpg') }}" class="img-responsive" alt="Responsive image">

<ul class="nav nav-pills  nav-stacked">
  <li role="presentation" {% if url_for(request.endpoint) in ["/","/home"]%} class="active"{%endif%} ><a href="/home">Home</a></li>
  <li role="presentation" {% if url_for(request.endpoint) == "/resume" %} class="active"{%endif%} ><a href="/resume">Resume</a></li>
  <li role="presentation" {% if url_for(request.endpoint) == "/projects" %} class="active"{%endif%} ><a href="/projects">Projects</a></li>
  <li role="presentation" {% if url_for(request.endpoint) == "/misc" %} class="active"{%endif%} ><a href="/misc">Misc</a></li>
  
  <li role="presentation" >
  <div class="col-md-3" > 
    <a href="https://www.facebook.com/yue.meng.75" target="_blank">
      <span class="fa fa-facebook fa-2x"></span>
    </a>
  </div>
  
  <div class="col-md-3" > 
    <a href="https://github.com/mengyuest" target="_blank">
      <span class="fa fa-github fa-2x"></span>
    </a>
  </div>

  <div class="col-md-3" > 
    <a href="https://www.linkedin.com/in/yuemeng95" target="_blank">
      <span class="fa fa-linkedin fa-2x"></span>
    </a>
  </div>

  <div class="col-md-3" > 
    <a href="https://www.instagram.com/misha_ucsd" target="_blank">
      <span class="fa fa-instagram fa-2x"></span>
    </a>
  </div>  
  </li>

</ul>
</div>
</nav>

<div class="col-md-10">
{{ post.html|safe }}










</div>
</div>





</div>
</div>






</div>

{% endblock %}


