<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Blogs</h1>
    <p class="lead">This section records some interesting blogs</p>
  </div>
</div>
<div class="list-group">

{% for post in posts %}


<a href="{{ url_for('post',name=post.path.replace('posts/','')) }}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ post.title }}</h5>
      <small>{{ post.date }}</small>
    </div>
    <p class="mb-1">{{ post.title }}</p>
    <small>{{ post.date }}</small>
  </a>


{% endfor %}


